<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div style="margin-left: 20px; margin-right: 20px;">
    {% for post in posts %}
    <div class="post_box">
	   <div class="post_box-header, post_box_header_text">
	      <div class="post_box-options"><button class="option-btn">Reply</button></div>
	      <div style="background: rgb(0, 97, 146) none repeat scroll 0% 0%; box-shadow: rgb(0, 97, 146) 0px 0px 0px 2px;" class="post_box-avatar">{{post.author[0]}}</div>
	      <div class="name-header">{{post.author}}</div>
	      <div class="post_box-subtitle"> Posted at {{readable_time(post.timestamp)}}</div>
	   </div>
	   <div>
	      <div class="post_box-body">
	         <p class="text">{{post.content}}</p>
	      </div>
	   </div>
	</div>
	{% endfor %}

	<style>
		.post_box_header_text {
	      font-family: 'Gaegu', cursive;
	      font-weight: 700;
	      font-size: 14pt;
	    }
	    .text {
	      font-family: 'Gaegu', cursive;
	      font-weight: 400;
	      font-size: 12pt;
	    }
	    .option-btn {
	    	background: #f8f8f8;
	    	border-bottom: 5px solid #a9a9a9;
	    	border-right: 5px solid #a9a9a9;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		    border-radius: 12px;
		    font-family: 'Gaegu', cursive;
		    font-weight: 700;
		    font-size: 14pt;
	    }
	</style>
    </div>
{% endblock %}